h1{
    color:#ff0000;
    font-size:50px;
    font-weight:bold;
    font-family:"Impact";
    text-align:center;
    background-color:#444444;
}

p{
    background-color:yellow;
}

body {
		background-image : url(../images/授業画像４.jpg);
	}